<div class="container">
<div class="copy-welcome-highlight">
<h1>Public Wikis</h1>
</div>

<% if current_user.nil? || current_user.standard? %>
  <% @wikis.each do |wiki| %>
    <% if wiki.private? == false %>
      <p><%= link_to wiki.title, wiki_path(wiki) %><br/></p>
      <p><%= wiki.body %></p>
    <% end %>
  <% end %>
  <div class="copy-welcome-highlight">
    <h2>Private Wikis</h2>
  </div>
  <p>Upgrade your <%= link_to "account here", root_path %></p>


<% elsif current_user.premium? || current_user.admin? %>
  <% @wikis.each do |wiki| %>
    <% if wiki.private? == false %>
      <p><%= link_to wiki.title, wiki_path(wiki) %><br/></p>
      <p><%= wiki.body %></p>
    <% end %>
  <% end %>
  <div class="copy-welcome-highlight">
  <h2>Private Wikis</h2>
  </div>
  <% @wikis.each do |wiki| %>
      <% if wiki.private? == true %>
      <p><%= link_to wiki.title, wiki_path(wiki) %><br/></p>
      <p><%= wiki.body %></p>
      <% end %>
  <% end %>
<% end %><br/>

<%= link_to "Create Wiki", new_wiki_path %>
</div>
