<h1>New Wiki</h1>

<%= form_for @wiki do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
</p>
<% if current_user.admin? || current_user.premium? %>
<div class="form-inline">
  <%= f.label :private, :class => "checkbox inline" do %>
  <%= f.check_box :private %> Private Wiki
  <% end %>
</div>
<% end %>
<br />
<%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
