<h1>New Wiki</h1>

<%= form_for @wiki do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
</p>
<div class="form-inline">
  <%= f.label :private, :class => "checkbox inline" %>
  <%= f.check_box :private %>
</div>
<br />
<%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
