<h1>New Wiki</h1>

<%= form_for @wiki do |f| %>
<p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
</p>
<div class="form-inline">
  <%= f.label :private, :class => "checkbox inline" %>
  <%= f.check_box :private %>
</div>
<br />
<div class="col-md-4">
    <h2>Add collaborators to the wiki
    </h2>
    <% @users.each do |user| %>
      <% if user == current_user %>
        <% user = nil %>
      <% else %>

    <p><%= check_box_tag "collaborator_ids[]", user.id, @wiki.user_ids.include?(user.id), :id => "collaborator_ids_#{user.id}" %>
        <%= label_tag "collaborator_ids_#{user.id}", user.email %></p>
    <% end %>
    <% end %>
</div>
<%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
